<!DOCTYPE html>
<html>
  <head>
    <title>RailsWikinimous</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://kit.fontawesome.com/c3e30f0963.js" crossorigin="anonymous"></script>
  </head>

  <body>
    <div class="header"><h1>Welcome to WiKinonimus</h1></div>
    <%= yield %>
  </body>
</html>
